@media all and (min-width: 768px) {

  #wrapper {
    margin: 20px auto;
    border: 5px solid #01b0d3;
    border-radius: 10px;
  }

  .action {
    left: 80px;
    padding: 20px;
  }

  .desktop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin: 10px;
  }

  .upgrades {
    grid-column-start: 1;
  }

  .reviews {
    grid-column-start: 2;
    grid-row-start: 1;
  }

  
}

